* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}
.display-none {
  display: none;
}
.main {
  padding: 2%;
  background: rgb(232, 174, 176);
}

input {
  height: 30px;
  width: 70%;
  border: none;
  margin-left: 20px;
  font-size: 1.08rem;
  padding: 3px;
  margin: 2% 0;
}
.list {
  padding: 2% 0;
}
.box-station {
  width: 100%;
  height: auto;
  background: #212121;
  color: #fff;
  padding: 2%;
  margin-bottom: 2px;
}
.data-station {
  width: 80%;
  display: inline-block;
}

#map {
  height: 40vh;
  width: 100%;
}

.gas-type {
  display: inline-block;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  margin: 2%;
  padding: 5px;
}
